#about {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}

#about .facebook {
  height: 25px;
  width: 200px;
}

#about .location {
  background:  url(../images/about/location.png) 50% 50% no-repeat;
  height: 280px;
  width: 280px;
}