.ui-content {
  background-image:  url(../images/background/background.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

.page-with-padding {
  padding: 15px;
}

.ui-page.ui-body-b,
.ui-content.ui-body-b,
.ui-page.ui-body-c,
.ui-content.ui-body-c {
  background: none repeat scroll 0 0 transparent;
}

.ui-collapsible-content {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}