.ui-footer .ui-navbar .ui-btn-icon-top .ui-btn-inner {
  padding-top: 40px
}

.ui-footer .ui-navbar .ui-btn .ui-icon {
  top: 0;
  box-shadow: none !important;
  border-radius: 0 !important;
  background-color: transparent;
  background-size: 100% 100%;
  margin-left: -20px;
  height: 40px;
  width: 40px;
}
.ui-footer .ui-navbar .ui-btn-up-a {
  background: none repeat scroll 0 0 #000000;
}

.ui-footer .ui-navbar .ui-btn-active {
  background: -moz-linear-gradient(#555555, #333333) repeat scroll 0 0 #333333;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#555555),to(#333333));
  border: 0 none !important;
  box-shadow: 0 0 12px transparent !important;
}

.ui-footer .ui-navbar .footer-schedule .ui-icon {
  background-image:  url(../images/footer/800x800/schedule.png);
}

.ui-footer .ui-navbar .footer-records .ui-icon {
  background-image:  url(../images/footer/800x800/records.png);
}

.ui-footer .ui-navbar .footer-information .ui-icon {
  background-image:  url(../images/footer/800x800/information.png);
}

.ui-footer .ui-navbar .footer-about .ui-icon {
  background-image:  url(../images/footer/800x800/about.png);
}

.ui-footer .ui-navbar .footer-register .ui-icon {
  background-image:  url(../images/footer/800x800/register.png);
}

.ui-footer .ui-navbar .footer-schedule.ipad-icon .ui-icon {
  background-image:  url(../images/footer/50x50/schedule.png);
}

.ui-footer .ui-navbar .footer-records.ipad-icon .ui-icon {
  background-image:  url(../images/footer/50x50/records.png);
}

.ui-footer .ui-navbar .footer-information.ipad-icon .ui-icon {
  background-image:  url(../images/footer/50x50/information.png);
}

.ui-footer .ui-navbar .footer-about.ipad-icon .ui-icon {
  background-image:  url(../images/footer/50x50/about.png);
}

.ui-footer .ui-navbar .footer-register.ipad-icon .ui-icon {
  background-image:  url(../images/footer/50x50/register.png);
}